@import "../_sass/app.scss";

.page--home {
    & h1 {
        & span {
            color: $color-whiteblue;
        }
    }
    & .recent-list {
        margin: 30px 0 60px;
        &-item {
            color: $color-whiteblue-state;
            margin-bottom: 30px;
            border: 2px solid $color-blackish;
            border-radius: 10px;
            position: relative;
            height: 250px;
            transition: all 0.3s ease-in-out;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            & .overlay {
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 0.6) 100%
                );
                width: 100%;
                height: 100%;
                border-radius: 7px;
                transition: all 0.3s ease-in-out;
            }
            & .title {
                font-size: 1.5rem;
                position: absolute;
                bottom: 20px;
                left: 10px;
            }
            & .platform {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
            & .price {
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
            &:hover {
                border: 2px solid $color-whiteblue;
                color: $color-blackish;
                & .overlay {
                    opacity: 0;
                }
            }
        }
    }
    & .full-collection-btn,
    & .register-btn {
        font-size: 1.2rem;
        background-color: $color-blackish;
        color: $color-whiteblue;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $color-blackish-state;
            color: $color-whiteblue-state;
        }
    }
}
