@import "../../_sass/app.scss";

.app-header {
    background-color: $background-purple;
    & .navbar {
        padding: 10px;
        &-brand {
            & .logo__link {
                font-size: 1.7rem;
                color: $color-whiteblue;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &-toggler-icon {
            color: $color-whiteblue;
        }
        &-nav {
            & .nav-item {
                font-size: 1rem;
                padding: 10px 20px;
                & .nav-link {
                    color: $color-whiteblue;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $color-whiteblue-state;
                    }
                    &.active {
                        color: $color-whiteblue-state;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
